@font-face {
    font-family: "myFont";
    src: url("../font/zhengguifont.woff2") format('woff2');
}
@font-face {
    font-family: "stylefont";
    src: url("../font/stylefont.woff2") format('woff2');
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to bottom right, #EAD6EE , #A0F1EA);
}


/*导航栏*/
.nav{
    width: 100%;
    height: 91px;
    background: #DCECFF;
    position: fixed;
    top: 0;
    z-index: 3;

}
.nav .zbox{
    width: 1000px;
    margin: 0 auto;
    /*border: solid;*/
    position: relative;
}
.nav .zbox ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: myFont;
    text-align: center;
}
.nav .zbox img{
    width: 121px;
    height: 59px;
    margin-top: 14px;
    margin-bottom: 19px;
}
.nav .zbox .box1{
    width: 564px;
    height: 106px;
    float: right;
    /*border: solid;*/
    line-height: 91px;
    margin-right: 222px;
}
.nav .zbox p{
    position: absolute;
    top: 0;
    right: 30px;
    line-height: 91px;
    font-family: myFont;
}
.nav .zbox a{
    text-decoration: none;
    color: black;
}
.nav .zbox .vbox{
    /*border: solid;*/
    width: 110px;
    height: 91px;
    border-radius: 29px;
}
.nav .zbox .vbox:hover{
    background-image: linear-gradient(to bottom right, #EAD6EE , #A0F1EA);
}
.nav .zbox #lasta:hover{
    color:  #AB1629;
}

.conbody{
    width: 864px;
    height: 4431px;
    margin: 91px auto;
    position: relative;
    /*border: solid;*/
    padding: 1px;
    /*background: url("../images/guojiabeijing.jpg") no-repeat;*/
    /*background-size: 100%;*/
    /*background-position: 0px -9px;*/
}
.conbody .leftnav{
    width: 80px;
    height: 308px;
    /*border: solid;*/
    position: fixed;
    top: 124px;
    left: 243px;
    background-image: linear-gradient(to bottom right, #EAD6EE , #A0F1EA);
}
.conbody .leftnav ul{
    list-style: none;
}
.conbody .leftnav li{
    text-align: center;
    margin-top: 25px;
}
.conbody .leftnav a{
    text-decoration: none;
    color: black;
}
.conbody .leftnav a:hover{
    border-radius: 3px;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.contents{
    width: 864px;
    height: 4472px;
    /*margin-top: 204px;*/
    /*border: solid;*/

}
.contents #box1{
    width: 864px;
    height: 1100px;
    /*border: solid;*/
    margin-bottom: 80px;
}
.contents #box1 img{
    width: 600px;
    display: block;
    margin: 0 auto;
}
.contents #box1 h2{
    text-align: center;
    font-family: myFont;
    font-size: 30px;
    margin-top: 30px;
    color: #4AB392;
}
.contents #box1 p{
    text-indent: 2em;
    font-size: 14px;
    font-family: myFont;
    font-weight: 1;
    margin-left: 44px;
    margin-right: 44px;
    line-height: 28px;
    margin-top: 15px;
}

.contents #box2{
    width: 864px;
    height: 532px;
    /*border: solid;*/
    margin-bottom: 80px;
}
.contents #box2 img{
    width: 600px;
    display: block;
    margin: 0 auto;
}
.contents #box2 h2{
    text-align: center;
    font-family: myFont;
    font-size: 30px;
    margin-top: 30px;
    color: #4AB392;
}
.contents #box2 p{
    text-indent: 2em;
    font-size: 14px;
    font-family: myFont;
    font-weight: 1;
    margin-left: 44px;
    margin-right: 44px;
    line-height: 28px;
    margin-top: 15px;
}
.contents #box3{
    width: 864px;
    height: 573px;
    /*border: solid;*/
    margin-bottom: 80px;
}
.contents #box3 img{
    width: 600px;
    display: block;
    margin: 0 auto;
}
.contents #box3 h2{
    text-align: center;
    font-family: myFont;
    font-size: 30px;
    margin-top: 30px;
    color: #4AB392;
}
.contents #box3 p{
    text-indent: 2em;
    font-size: 14px;
    font-family: myFont;
    font-weight: 1;
    margin-left: 44px;
    margin-right: 44px;
    line-height: 28px;
    margin-top: 15px;
}
.contents #box4{
    width: 864px;
    height: 573px;
    /*border: solid;*/
    margin-bottom: 80px;
}
.contents #box4 img{
    width: 600px;
    display: block;
    margin: 0 auto;
}
.contents #box4 h2{
    text-align: center;
    font-family: myFont;
    font-size: 30px;
    margin-top: 30px;
    color: #4AB392;
}
.contents #box4 p{
    text-indent: 2em;
    font-size: 14px;
    font-family: myFont;
    font-weight: 1;
    margin-left: 44px;
    margin-right: 44px;
    line-height: 28px;
    margin-top: 15px;
}
.contents #box5{
    width: 864px;
    height: 592px;
    /*border: solid;*/
    margin-bottom: 80px;
}
.contents #box5 img{
    width: 600px;
    display: block;
    margin: 0 auto;
}
.contents #box5 h2{
    text-align: center;
    font-family: myFont;
    font-size: 30px;
    margin-top: 30px;
    color: #4AB392;
}
.contents #box5 p{
    text-indent: 2em;
    font-size: 14px;
    font-family: myFont;
    font-weight: 1;
    margin-left: 44px;
    margin-right: 44px;
    line-height: 28px;
    margin-top: 15px;
}
.contents #box6{
    width: 864px;
    height: 617px;
    /*border: solid;*/
    margin-bottom: 80px;
}
.contents #box6 img{
    width: 600px;
    display: block;
    margin: 0 auto;
}
.contents #box6 h2{
    text-align: center;
    font-family: myFont;
    font-size: 30px;
    margin-top: 30px;
    color: #4AB392;
}
.contents #box6 p{
    text-indent: 2em;
    font-size: 14px;
    font-family: myFont;
    font-weight: 1;
    margin-left: 44px;
    margin-right: 44px;
    line-height: 28px;
    margin-top: 15px;
}

/*底部商家信息*/
.footer{
    width: 100%;
    height: 200px;
    /*border: solid;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: #313131;
}
.footer .box1{
    width: 1110px;
    height: 81px;
    border-top: solid white;
}
.footer .box1 p{
    color: white;
    font-family: myFont;
    font-weight: 1;
    font-size: 14px;
}
.footer .box1 p:first-child{
    float: left;
    margin-top: 17px;
    margin-left: 9px;
}
.footer .box1 p:nth-child(2){
    float: right;
    margin-top: 26px;
    margin-right: 75px;
}
.footer .box1 img{
    margin-top: 13px;
    margin-left: 182px;
}





